* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

#home {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 100vh;
}

a {
	display: flex;
	justify-content: center;
	width: 100vw;
}

.link {
	font-family: 'Noto Serif', serif;
	font-size: 24pt;
}
